<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Video chat</title>
    <script type="text/javascript">
       let roomID = "<%= RoomId %>"
    </script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"defer></script>
    <script src="socket.io/socket.io.js" defer></script>
    <script src="index.js" charset="utf-8" defer></script>
</head>
<body>

        <div class="container">
            <div id="videoDiv">
                
            </div>
        </div>
</body>
</html>